{% extends 'base.html.twig' %}
{% block title 'Agence Filerama' %}

{% block body %}
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Agence Filerama</h1>
			<p class="font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi assumenda, cum eveniet ex fuga</p>
		</div>
	</div>
{% endblock %}