{% extends 'base.html.twig' %}
{% block title 'Editer une option' %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron text-center my-4">
			<h1 class="mb-4">Editer une option</h1>
		</div>
		{{ include ('admin/option/_form.html.twig', {form: form, button: 'Editer'}) }}
	</div>
{% endblock %}